:root {
  font: size 16px "ApercuProMono";
  line-height: 16px;
  font-smooth: auto;
  font-smooth: never;
  font-smooth: always;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: #7d8a94;
  box-sizing: border-box;
  overflow: hidden;
  height: -webkit-fill-available;
  scroll-behavior: smooth;
  cursor: none;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #7d8a94;
}

html,
body {
  min-height: 100vh;
  overflow-y: hidden;
  overflow-x: scroll;
  height: -webkit-fill-available;
}

body {
  background-color: #eb9696;
}

@font-face {
  font-family: "ApercuProMono";
  src: url("../../fonts/Apercu_colophon/ApercuProMono.woff2") format("woff2"), url("../../fonts/Apercu_colophon/ApercuProMono.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "ApercuProMono";
  src: url("../../fonts/Apercu_colophon/ApercuProMonoB.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "TIMMONS NY 2.0";
  src: url("../../fonts/timmons2.0/TIMMONSNY20-Regular.woff") format("woff"), url("../../fonts/timmons2.0/TIMMONSNY20-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "sf-ui_b";
  src: url("../../fonts/sf-ui/sf-ui_bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "ApercuPro";
  src: url("../../fonts/Apercu/ApercuPro-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ApercuPro";
  src: url("../../fonts/Apercu/ApercuPro-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  font-style: bold;
}
.t8 {
  font-size: 8rem;
}

.t4 {
  font-size: 4rem;
}

.t2 {
  font-size: 2rem;
}

.t1 {
  font-size: 1rem;
}

.is_invisible {
  visibility: visible;
  opacity: 1;
  transition: invisibility 0s linear 0.33s, opacity 0.33s linear;
}

@keyframes invisibility {
  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}
.is_visible {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}

@keyframes visibility {
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.hiden {
  visibility: hidden;
}

.is_not_displayed {
  display: none;
  opacity: 0;
}

.entree2 {
  z-index: 999;
  display: flex; /*debut loader page*/
  position: fixed;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: black;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 100;
  font-size: 16px;
}

.entree_end2 {
  animation: disapear2 0.325s ease-in forwards;
}

@keyframes disapear2 {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.cursor {
  display: inherit;
}

.ligne {
  position: absolute;
  height: 1px;
  bottom: 100%;
  top: 40px;
  margin-bottom: 0px;
}

.logo {
  position: absolute;
  width: auto;
  top: 22px;
  z-index: 0;
  fill: #ffe0dc;
  fill-rule: evenodd;
  transition: all 0.33s cubic-bezier(0.075, 0.82, 0.165, 1);
}

a {
  text-decoration: none;
  color: #ffe0dc;
  cursor: none;
}

a:hover {
  text-decoration: none;
  color: #ffe0dc;
}

.sticky_main {
  display: flex;
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0px;
  z-index: 98;
  background-color: rgba(0, 0, 0, 0.05);
  border-bottom: 62px solid rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.menu_transformation {
  display: flex;
  position: sticky;
  width: 100%;
  height: 60px;
  top: 0px;
}

.sticky_main2 {
  display: flex; /* pour le menu en mode mobile */
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  margin-top: 0px;
  z-index: 97;
  visibility: collapse;
  overflow: hidden;
  transition: opacity 2s linear;
}

.menu_transformation2 {
  display: flex;
  position: sticky;
  width: 100%;
  height: 100vh;
  z-index: 99;
  top: 0px;
}

.sticky_main2 .collapse {
  opacity: 1;
}

.collapse {
  visibility: visible;
  animation: opacity 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-iteration-count: 1;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.svg_line {
  width: 100%;
}

.main_container {
  position: fixed;
  display: block;
  width: calc(5408px + 50vw + 50%);
  height: 100vh;
  background-color: #eb9696;
  left: 0px;
}

.container_secondaire {
  display: flex;
  position: fixed;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  z-index: auto;
}

.banniere {
  height: 100vh;
  width: 100vw;
  box-shadow: inset 0px 0px 0px 1rem #7d938a;
  background-attachment: fixed;
  background-color: #1f1e1e;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -2;
}

.picture {
  opacity: 0.3;
  display: block;
  height: 100vh;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  z-index: -1;
}

.img {
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow-x: hidden;
  z-index: -1;
}

.start {
  display: flex;
  position: absolute;
  z-index: -1;
  top: -2rem;
  height: 100%;
  width: 100vw;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.titre_start {
  color: #7d938a;
  line-height: 7rem;
  font-family: "TIMMONS NY 2.0";
}

.titre_projet {
  color: #ffe0dc;
  line-height: 2rem;
  font-family: "TIMMONS NY 2.0";
}

.main_container_2 {
  display: flex;
  position: absolute;
  width: calc(100% + 5408px);
  height: 100vh;
  left: 0px;
  top: 0px;
  z-index: -2;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  background-color: transparent;
}

#storyline {
  position: absolute;
  transform-origin: center;
  transform: scale(1.5);
  top: 0px;
  display: inline-flex;
  height: 100vh;
  flex-direction: column;
  flex-wrap: nowrap;
  left: 1342px;
  width: 100vw;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.theline {
  stroke-width: 1.5px;
  stroke-linecap: butt;
  fill: transparent;
  stroke: #7d938a;
  display: inline-flex;
  height: 565px;
  width: -moz-max-content;
  width: max-content;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.aboutto {
  display: block;
  position: fixed;
  height: 3px;
  width: 60px;
  background-color: transparent;
  left: calc(50vw + 55px);
  top: calc(50vw + 30px);
}

.main_retour_p {
  width: 100vw;
  height: 25px;
  position: fixed;
  display: flex;
  bottom: 5vh;
  justify-content: center;
  z-index: 100;
  animation: visiblityy 0.2s ease, delayretour 0.2s ease;
  animation-delay: 4.9s, 5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes delayretour {
  100% {
    opacity: 1;
  }
}
@keyframes visibilityy {
  100% {
    opacity: 1;
  }
}
.container_retour_p {
  border-radius: 0.3rem;
  width: 126px;
  height: 25px;
  font-family: sf-ui_b;
  font-size: 0.75rem;
  position: fixed;
  overflow: hidden;
  background-color: rgb(226, 13, 13);
}

.container_retour_p:hover {
  background-color: rgb(255, 0, 0);
}
.container_retour_p:hover .btn_croix {
  transform: rotate(135deg);
}

.btn_croix {
  transition: 0.2s ease-out;
}

.text_next_p {
  color: #fff;
  flex-flow: row;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0.1rem 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn_ocp {
  color: #fff;
  width: 85px;
  height: 25px;
  line-height: 25px;
}

.btn_croix {
  color: white;
  height: 25px;
  line-height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_croix::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: white;
}

.btn_croix::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 10px;
  background-color: white;
}

.main_process {
  z-index: -1;
  width: 100vw;
  height: 100%;
  display: flex;
  position: absolute;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.picture_process {
  opacity: 1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 300px;
  height: 75vh;
  display: block;
  overflow: hidden;
}

.main_process_3 {
  z-index: 5;
  width: 100vw;
  height: 100%;
  display: flex;
  position: absolute;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.picture_process_3 {
  opacity: 1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100px;
  height: 25vh;
  display: block;
  overflow: hidden;
}

.main_process_4 {
  z-index: -1;
  width: 100vw;
  height: 100%;
  display: flex;
  position: absolute;
  overflow: hidden;
  justify-content: center;
  align-items: flex-start;
}

.picture_process_4 {
  opacity: 1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100px;
  height: 25vh;
  display: block;
  overflow: hidden;
}

.main_process_5 {
  z-index: -1;
  width: 100vw;
  height: 100%;
  display: flex;
  position: absolute;
  overflow: hidden;
  justify-content: center;
  align-items: flex-end;
}

.picture_process_5 {
  opacity: 1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 35px;
  height: 25vh;
  display: block;
  overflow: hidden;
}

.main_process_6 {
  z-index: -1;
  width: 100vw;
  height: 100%;
  display: flex;
  position: absolute;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.picture_process_6 {
  opacity: 1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 35px;
  height: 25vh;
  display: block;
  overflow: hidden;
}

.main_process_7 {
  z-index: -1;
  width: 350vw;
  height: 100%;
  display: flex;
  position: absolute;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.picture_process_7 {
  opacity: 1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 35px;
  height: 25vh;
  display: block;
  overflow: hidden;
}

.main_process_8 {
  width: 100vw;
  height: 100%;
  display: flex;
  position: absolute;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.picture_process_8 {
  z-index: -1;
  opacity: 1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 35px;
  height: 25vh;
  display: block;
  overflow: hidden;
}

.main_process_9 {
  z-index: 5;
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.picture_process_9 {
  opacity: 1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 35px;
  height: 25vh;
  display: block;
  overflow: hidden;
}

#triangle_video {
  stroke-width: 3px;
  stroke-linejoin: bevel;
  transform-origin: center;
  fill: #eb9696;
  stroke: #ffcd2b;
  z-index: 99;
  flex-direction: row;
  align-items: center;
  width: 40px;
  height: 40px;
  transition: all 0.2s ease-out;
  display: flex;
  position: absolute;
  transform: rotate(90deg);
  filter: drop-shadow(0 0 4px rgb(177, 177, 177));
}

#triangle_video:hover {
  fill: #ebebeb;
}

.triangle_link {
  width: 40px;
  height: 40px;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.main_texte {
  z-index: 5;
  color: #ebebeb;
  background-color: rgba(0, 0, 0, 0);
  flex-flow: column;
  place-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  display: flex;
  position: absolute;
  overflow: hidden;
  transform: translateX(331px);
}

.texte {
  flex-direction: row;
  align-items: center;
  width: 250px;
  height: auto;
  padding-left: 2.5rem;
  font-family: ApercuPro;
  font-size: 1.1rem;
  font-weight: normal;
  line-height: normal;
  display: flex;
  position: absolute;
}

.lettrine {
  align-items: center;
  width: auto;
  height: auto;
  padding: 0;
  font-family: ApercuProMono;
  font-size: 15rem;
  line-height: 15rem;
  display: flex;
  position: relative;
  left: -60px;
  top: -15px;
  text-shadow: 10px 10px #222120;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke: 8px #ffcd2b;
}

.main_texte_2 {
  z-index: 5;
  color: #ffcc00;
  background-color: rgba(0, 0, 0, 0);
  flex-flow: column;
  place-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  display: flex;
  position: absolute;
  overflow: hidden;
  transform: translate(1060px, 40px);
}

.texte_2 {
  flex-direction: row;
  align-items: center;
  width: 300px;
  height: auto;
  font-family: ApercuPro;
  font-size: 1.1rem;
  font-weight: normal;
  line-height: normal;
  display: flex;
  position: relative;
  color: #ebebeb;
}

.lettrine_2 {
  align-items: center;
  width: auto;
  height: auto;
  padding: 0;
  font-family: ApercuProMono;
  font-size: 5rem;
  line-height: 5rem;
  display: flex;
  position: relative;
  text-shadow: -6px 4px #222120;
  -webkit-text-fill-color: #ebebeb;
  -webkit-text-stroke: 2px #ffcd2b;
}

.main_texte_3 {
  z-index: 5;
  flex-flow: column;
  place-content: center;
  align-items: flex-start;
  width: 100vw;
  height: 100%;
  display: flex;
  position: absolute;
  overflow: hidden;
  transform: translate(2210px, -255px);
  flex-wrap: wrap;
  flex-direction: column;
}

.texte_3 {
  flex-direction: row;
  align-items: center;
  width: 450px;
  height: auto;
  font-family: ApercuPro;
  font-size: 1.1rem;
  font-weight: normal;
  line-height: normal;
  display: flex;
  position: relative;
  color: #ffcd2b;
}

.lettrine_3 {
  text-shadow: 0px 2px #222120;
  -webkit-text-fill-color: #ebebeb;
  align-items: center;
  height: 4rem;
  padding: 0;
  font-family: ApercuProMono;
  line-height: 5rem;
  display: flex;
  position: relative;
}

.main_texte_4 {
  z-index: 5;
  color: #ebebeb;
  background-color: rgba(0, 0, 0, 0);
  flex-flow: column;
  place-content: center;
  align-items: flex-start;
  width: 100vw;
  height: 100%;
  display: flex;
  position: absolute;
  overflow: hidden;
  transform: translate(3600px, 170px);
  flex-wrap: wrap;
  flex-direction: column;
}

.texte_4 {
  flex-direction: row;
  align-items: center;
  width: 685px;
  height: auto;
  font-family: ApercuPro;
  font-size: 1.1rem;
  font-weight: normal;
  line-height: normal;
  display: flex;
  position: relative;
  color: #ebebeb;
}

.lettrine_4 {
  align-items: center;
  width: auto;
  height: auto;
  padding: 0;
  font-family: ApercuProMono;
  font-size: 5rem;
  line-height: 5rem;
  display: flex;
  position: relative;
  left: -6px;
  text-shadow: -6px 4px #222120;
  -webkit-text-fill-color: #ebebeb;
  -webkit-text-stroke: 2px #ffcd2b;
}

.end {
  overflow: hidden;
  display: flex;
  position: absolute;
  z-index: -1;
  top: -5rem;
  height: 80vh;
  width: 100vw;
  right: 0px;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.titre_end {
  color: #7d938a;
  line-height: 7rem;
  font-family: "TIMMONS NY 2.0";
  word-spacing: -1rem;
}

.titre_projet_end {
  color: #ffe0dc;
  line-height: 2rem;
  font-family: "TIMMONS NY 2.0";
}

.container_next_ep {
  display: flex;
  position: absolute;
  overflow: hidden;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 99;
  right: 3rem;
  top: 4.5rem;
  font-family: "sf-ui_b";
  align-items: center;
  flex-direction: row;
  font-size: 0.75rem;
}

.banniere_next_ep {
  height: 1.6rem;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: red;
  margin: 3px;
  border-radius: 3px;
  overflow: hidden;
}

.text_next_ep {
  padding: 0.1rem 1rem 0.1rem;
  display: flex;
  color: white;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

#triangle_next_ep {
  width: 14px;
  stroke-width: 5px;
  stroke-linejoin: bevel;
  height: 20px;
  transform: rotate(90deg);
  transform-origin: center;
  margin-right: 0.5rem;
  fill: #1f1e1e;
  stroke: #1f1e1e;
  z-index: 1;
}

#btn_ban_oc {
  background-color: rgba(173, 173, 173, 0.5215686275);
}

#btn_ban_oc:hover {
  background-color: rgba(212, 212, 212, 0.5215686275);
}

#btn_ban_np {
  background-color: rgb(237, 14, 14);
}

.btn_np {
  z-index: 1;
}

.fond_blanc {
  position: absolute;
  width: 110%;
  height: 110%;
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.9);
  transform-origin: top center;
  transform: translateX(var(--transpourcent));
  border-radius: 1.5px;
  --transpourcent: -100%;
}

.fond_animated {
  animation: trans 5s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 4s;
}

@keyframes trans {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
#btn_ban_np:hover {
  background-color: red;
}
#btn_ban_np:hover .btn_np {
  color: black;
}
#btn_ban_np:hover #triangle_next_ep {
  fill: black;
  stroke: black;
}

.btn_oc {
  color: white;
}

.btn_np {
  color: #1f1e1e;
}

.container_resume {
  position: absolute;
  overflow: hidden;
  width: 50vw;
  z-index: -95;
  right: 0px;
}

.banniere_resume {
  height: 100vh;
  display: flex;
  padding: 2rem;
  padding-left: calc(2rem - 10px);
  width: 100%;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.text_resume {
  font-family: "ApercuPro";
  font-weight: normal;
  color: #7d938a;
  margin-top: 52vh;
}

.container_secondaire_end {
  display: flex;
  position: fixed;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  align-content: center;
  z-index: -99;
}

.banniere_end {
  height: 100vh;
  width: 100vw;
  box-shadow: inset 0px 0px 0px 1rem #ffe0dc;
  background-attachment: fixed;
  background-color: #1f1e1e;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.theend {
  display: block;
  position: fixed;
  height: 60px;
  width: 4px;
  background-color: transparent;
  right: 100vw;
}

@media screen and (max-width: 424px) {
  .is_invisible {
    visibility: hidden;
    display: none;
    opacity: 0;
  }
  .is_invisible2 {
    visibility: hidden;
    display: none;
    opacity: 0;
  }
  .is_visible {
    visibility: visible;
    opacity: 1;
  }
  .text_resume {
    font: 0.5rem "ApercuPro";
    font-weight: normal;
  }
  .text_resume_margin_up {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  .text_resume_margin_down {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  .main_process {
    left: 450px;
  }
  .picture_process {
    width: 300px;
    height: 75vh;
  }
  .main_process_3 {
    left: 1250px;
    top: 0px;
  }
  .picture_process_3 {
    width: 100px;
    height: 100vh;
  }
  .main_process_4 {
    left: 1346px;
    top: 75px;
  }
  .picture_process_4 {
    width: 70px;
    height: 80vh;
  }
  .main_process_5 {
    left: 1420px;
    top: 0px;
  }
  .picture_process_5 {
    width: 55px;
    height: 75vh;
  }
  .main_process_6 {
    left: 1800px;
    top: 0px;
  }
  .picture_process_6 {
    width: 500px;
    height: 40vh;
  }
  .main_process_7 {
    left: 2435px;
    top: -200px;
  }
  .picture_process_7 {
    width: 1365px;
    height: 10vh;
  }
  .main_process_8 {
    left: 4360px;
    top: 0px;
  }
  .picture_process_8 {
    width: 275px;
    height: 90vh;
    border-radius: 100%;
  }
  .main_process_9 {
    top: 0;
    left: 2750px;
  }
  .picture_process_9 {
    width: 60vh;
    height: 60vh;
    border-radius: 100%;
  }
  .main_texte {
    transform: translate(655px, -175px);
  }
  .main_texte_2 {
    transform: translate(1040px, 100px);
  }
  .texte_2 {
    width: 250px;
  }
  .lettrine_2 {
    transform: translate(-8px, -10px);
  }
  .main_texte_3 {
    transform: translateX(1800px);
    bottom: -30vh;
  }
  .texte_3 {
    width: 350px;
    left: 6px;
  }
  .lettrine_3 {
    left: 6px;
    width: 350px;
    font-size: 2rem;
  }
  .main_texte_4 {
    bottom: 20vh;
    transform: translateX(3885px);
  }
  .texte_4 {
    width: 355px;
    left: 6px;
  }
  .lettrine_4 {
    left: 6px;
    width: 355px;
    font-size: 6rem;
    text-shadow: 3px 4px #222120;
    -webkit-text-fill-color: #ebebeb;
    -webkit-text-stroke: 2px #ffcd2b;
    margin-bottom: 1.5rem;
  }
  .main_retour_p {
    bottom: 85px;
  }
}
@media screen and (min-width: 425px) and (max-width: 766px) {
  .text_resume {
    font: 0.5rem "ApercuPro";
    font-weight: normal;
  }
  .text_resume_margin_up {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  .text_resume_margin_down {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  .main_process {
    left: 525px;
  }
  .picture_process {
    width: 300px;
    height: 75vh;
  }
  .main_process_3 {
    left: 1250px;
    top: 0px;
  }
  .picture_process_3 {
    width: 100px;
    height: 100vh;
  }
  .main_process_4 {
    left: 1346px;
    top: 75px;
  }
  .picture_process_4 {
    width: 70px;
    height: 80vh;
  }
  .main_process_5 {
    left: 1420px;
    top: 0px;
  }
  .picture_process_5 {
    width: 55px;
    height: 75vh;
  }
  .main_process_6 {
    left: 1800px;
    top: 0px;
  }
  .picture_process_6 {
    width: 500px;
    height: 40vh;
  }
  .main_process_7 {
    left: 2435px;
    top: -200px;
  }
  .picture_process_7 {
    width: 1365px;
    height: 10vh;
  }
  .main_process_8 {
    left: 4360px;
    top: 0px;
  }
  .picture_process_8 {
    width: 350px;
    height: 90vh;
    border-radius: 100%;
  }
  .main_process_9 {
    top: 0;
    left: 2750px;
  }
  .picture_process_9 {
    width: 60vh;
    height: 60vh;
    border-radius: 100%;
  }
  .main_texte {
    transform: translate(525px, -160px);
  }
  .main_texte_2 {
    transform: translate(1040px, 100px);
  }
  .texte_2 {
    width: 230px;
  }
  .lettrine_2 {
    top: -10px;
    left: 2px;
  }
  .main_texte_3 {
    transform: translateX(1800px);
    bottom: -30vh;
  }
  .texte_3 {
    width: 350px;
    left: 6px;
  }
  .lettrine_3 {
    left: 6px;
    width: 350px;
    font-size: 2rem;
  }
  .main_texte_4 {
    bottom: -150px;
    transform: translateX(3600px);
  }
  .texte_4 {
    width: 355px;
    left: 6px;
  }
  .lettrine_4 {
    left: 6px;
    width: 355px;
    font-size: 6rem;
    text-shadow: 3px 4px #222120;
    -webkit-text-fill-color: #ebebeb;
    -webkit-text-stroke: 2px #ffcd2b;
    margin-bottom: 1.5rem;
  }
  .main_retour_p {
    bottom: 85px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .text_resume {
    font: 1rem "ApercuPro";
    font-style: normal;
  }
  .text_resume_margin_up {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  .text_resume_margin_down {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  .main_process {
    left: 660px;
  }
  .picture_process {
    width: 300px;
    height: 75vh;
  }
  .main_process_3 {
    left: 1560px;
    top: 0px;
  }
  .picture_process_3 {
    width: 100px;
    height: 100vh;
  }
  .main_process_4 {
    left: 1660px;
    top: 75px;
  }
  .picture_process_4 {
    width: 70px;
    height: 80vh;
  }
  .main_process_5 {
    left: 1420px;
    top: 0px;
  }
  .picture_process_5 {
    width: 55px;
    height: 75vh;
  }
  .main_process_6 {
    left: 2100px;
    top: 0px;
  }
  .picture_process_6 {
    width: 500px;
    height: 40vh;
  }
  .main_process_7 {
    left: 2435px;
    top: -200px;
  }
  .picture_process_7 {
    width: 1365px;
    height: 10vh;
  }
  .main_process_8 {
    left: 4360px;
    top: 0px;
  }
  .picture_process_8 {
    width: 420px;
    height: 90vh;
    border-radius: 100%;
  }
  .main_process_9 {
    top: 120px;
    left: 3080px;
  }
  .picture_process_9 {
    width: 60vh;
    height: 60vh;
    border-radius: 100%;
  }
  .main_texte {
    transform: translate(660px, -185px);
  }
  .main_texte_2 {
    transform: translate(1175px, -35px);
  }
  .texte_2 {
    width: 230px;
    font-size: 1.7rem;
  }
  .lettrine_2 {
    top: -10px;
    left: 2px;
    margin-bottom: 15px;
  }
  .main_texte_3 {
    bottom: 330px;
    transform: translateX(2120px);
  }
  .texte_3 {
    width: 550px;
    left: 6px;
    font-size: 1.7rem;
  }
  .lettrine_3 {
    width: 550px;
    font-size: 3rem;
    line-height: 3rem;
    left: 6px;
    margin-bottom: 10px;
  }
  .main_texte_4 {
    top: 165px;
    transform: translateX(3735px);
  }
  .texte_4 {
    width: 650px;
    left: 6px;
    font-size: 1.7rem;
  }
  .lettrine_4 {
    left: 6px;
    width: 650px;
    font-size: 6rem;
    text-shadow: 3px 4px #222120;
    -webkit-text-fill-color: #ebebeb;
    -webkit-text-stroke: 2px #ffcd2b;
    margin-bottom: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  .cursor {
    display: none;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .main_process {
    left: 750px;
  }
  .picture_process {
    width: 300px;
    height: 75vh;
  }
  .main_process_3 {
    left: 1560px;
    top: 0px;
  }
  .picture_process_3 {
    width: 100px;
    height: 100vh;
  }
  .main_process_4 {
    left: 1660px;
    top: 75px;
  }
  .picture_process_4 {
    width: 70px;
    height: 80vh;
  }
  .main_process_5 {
    left: 1420px;
    top: 0px;
  }
  .picture_process_5 {
    width: 55px;
    height: 75vh;
  }
  .main_process_6 {
    left: 2100px;
    top: 0px;
  }
  .picture_process_6 {
    width: 500px;
    height: 40vh;
  }
  .main_process_7 {
    left: 1800px;
    top: -200px;
  }
  .picture_process_7 {
    width: 1120px;
    height: 10vh;
  }
  .main_process_8 {
    left: 4360px;
    top: 0px;
  }
  .picture_process_8 {
    width: 650px;
    height: 90vh;
    border-radius: 100%;
  }
  .main_process_9 {
    top: 50vh;
    left: 3080px;
  }
  .picture_process_9 {
    width: 60vh;
    height: 60vh;
    border-radius: 100%;
  }
  .main_texte {
    transform: translate(745px, -200px);
  }
  .main_texte_2 {
    transform: translate(1175px, -40px);
  }
  .texte_2 {
    width: 230px;
    font-size: 1.7rem;
  }
  .lettrine_2 {
    top: -10px;
    left: 2px;
    margin-bottom: 15px;
  }
  .main_texte_3 {
    bottom: 29vh;
    transform: translateX(2100px);
  }
  .texte_3 {
    width: 510px;
    left: 6px;
    font-size: 1.5rem;
  }
  .lettrine_3 {
    width: 510px;
    margin-bottom: 5px;
    font-size: 3rem;
    line-height: 3rem;
    left: 6px;
  }
  .main_texte_4 {
    top: 55px;
    transform: translateX(3060px);
  }
  .texte_4 {
    width: 650px;
    left: 6px;
    font-size: 1.7rem;
  }
  .lettrine_4 {
    left: 6px;
    width: 650px;
    font-size: 6rem;
    text-shadow: 3px 4px #222120;
    -webkit-text-fill-color: #ebebeb;
    -webkit-text-stroke: 2px #ffcd2b;
    margin-bottom: 1.5rem;
  }
}
@media screen and (min-width: 1170px) and (max-width: 1439px) {
  .main_process {
    left: 900px;
  }
  .main_texte {
    transform: translate(900px, -200px);
  }
  .main_texte_2 {
    transform: translate(1205px, 0px);
  }
  .texte_2 {
    width: 230px;
  }
  .lettrine_2 {
    top: -10px;
    left: 2px;
  }
  .main_texte_3 {
    bottom: -33vh;
    transform: translateX(2050px);
  }
  .texte_3 {
    width: 350px;
    left: 6px;
    background-color: #eb9696;
  }
  .lettrine_3 {
    left: 6px;
    width: 350px;
    font-size: 2rem;
  }
  .main_texte_4 {
    top: 85px;
    transform: translateX(3175px);
  }
  .texte_4 {
    width: 650px;
    left: 6px;
    font-size: 1.7rem;
  }
  .lettrine_4 {
    left: 6px;
    width: 650px;
    font-size: 6rem;
    text-shadow: 3px 4px #222120;
    -webkit-text-fill-color: #ebebeb;
    -webkit-text-stroke: 2px #ffcd2b;
    margin-bottom: 1.5rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 3840px) {
  .text_resume {
    font: 1rem "ApercuPro";
    font-weight: normal;
  }
  .text_resume_margin_up {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  .text_resume_margin_down {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2099px) {
  .main_process {
    left: 1250px;
  }
  .picture_process {
    width: 300px;
    height: 75vh;
  }
  .main_process_3 {
    left: 1850px;
    top: 0px;
  }
  .picture_process_3 {
    width: 100px;
    height: 100vh;
  }
  .picture_process_3 {
    width: 100px;
    height: 100vh;
  }
  .main_process_4 {
    left: 1945px;
    top: 75px;
  }
  .picture_process_4 {
    width: 70px;
    height: 80vh;
  }
  .main_process_5 {
    left: 2017px;
    top: 0px;
  }
  .picture_process_5 {
    width: 55px;
    height: 75vh;
  }
  .main_process_6 {
    left: 2828px;
    top: 0px;
  }
  .picture_process_6 {
    width: 500px;
    height: 40vh;
  }
  .main_process_7 {
    left: 1800px;
    top: -200px;
  }
  .picture_process_7 {
    width: 750px;
    height: 10vh;
  }
  .main_process_8 {
    left: 4360px;
    top: 0px;
  }
  .picture_process_8 {
    width: 400px;
    height: 90vh;
    border-radius: 100%;
  }
  .main_process_9 {
    top: 50vh;
    left: 3575px;
  }
  .picture_process_9 {
    width: 50vh;
    height: 50vh;
    border-radius: 100%;
  }
  .main_texte {
    transform: translate(975px, 70px);
  }
  .main_texte_2 {
    transform: translate(1585px, -25px);
  }
  .texte_2 {
    width: 230px;
    background-color: #eb9696;
  }
  .lettrine_2 {
    top: -10px;
    left: 2px;
    margin-bottom: 15px;
  }
  .main_texte_3 {
    bottom: -19vh;
    transform: translateX(2290px);
  }
  .texte_3 {
    width: 350px;
    left: 6px;
    font-size: 1.7rem;
    background-color: #eb9696;
  }
  .lettrine_3 {
    width: 350px;
    font-size: 4rem;
    left: 6px;
    line-height: 4rem;
    margin-bottom: 50px;
  }
  .main_texte_4 {
    top: 155px;
    transform: translateX(3580px);
  }
  .texte_4 {
    width: 650px;
    left: 6px;
    font-size: 1.7rem;
  }
  .lettrine_4 {
    left: 6px;
    width: 650px;
    font-size: 6rem;
    text-shadow: 3px 4px #222120;
    -webkit-text-fill-color: #ebebeb;
    -webkit-text-stroke: 2px #ffcd2b;
    margin-bottom: 1.5rem;
  }
}
@media screen and (min-width: 2100px) and (max-width: 2559px) {
  .main_process {
    left: 1450px;
  }
  .picture_process {
    width: 300px;
    height: 75vh;
  }
  .main_process_3 {
    left: 2030px;
    top: 0px;
  }
  .picture_process_3 {
    width: 100px;
    height: 100vh;
  }
  .main_process_4 {
    left: 2125px;
    top: 75px;
  }
  .picture_process_4 {
    width: 70px;
    height: 80vh;
  }
  .main_process_5 {
    left: 2197px;
    top: 0px;
  }
  .picture_process_5 {
    width: 55px;
    height: 75vh;
  }
  .main_process_6 {
    left: 2825px;
    top: 0px;
  }
  .picture_process_6 {
    width: 500px;
    height: 40vh;
  }
  .main_process_7 {
    left: 850px;
    top: -200px;
  }
  .picture_process_7 {
    width: 500px;
    height: 10vh;
  }
  .main_process_8 {
    left: 4055px;
    top: 0px;
  }
  .picture_process_8 {
    width: 400px;
    height: 90vh;
    border-radius: 100%;
  }
  .main_process_9 {
    left: 3825px;
    top: 350px;
  }
  .picture_process_9 {
    width: 55vh;
    height: 55vh;
    border-radius: 100%;
  }
  .main_texte {
    transform: translate(1315px, 160px);
  }
  .main_texte_2 {
    transform: translate(1785px, -25px);
  }
  .texte_2 {
    width: 230px;
    background-color: #eb9696;
  }
  .lettrine_2 {
    top: -10px;
    left: 2px;
  }
  .main_texte_3 {
    bottom: -23vh;
    transform: translateX(2375px);
  }
  .texte_3 {
    width: 210px;
    left: 6px;
  }
  .lettrine_3 {
    left: 6px;
    width: 210px;
    font-size: 2rem;
    line-height: normal;
  }
  .main_texte_4 {
    top: 125px;
    transform: translateX(3458px);
  }
  .texte_4 {
    width: 650px;
    left: 6px;
    font-size: 1.7rem;
  }
  .lettrine_4 {
    left: 6px;
    width: 650px;
    font-size: 6rem;
    text-shadow: 3px 4px #222120;
    -webkit-text-fill-color: #ebebeb;
    -webkit-text-stroke: 2px #ffcd2b;
    margin-bottom: 1.5rem;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3840px) {
  .main_process {
    left: 1550px;
  }
  .picture_process {
    width: 300px;
    height: 75vh;
  }
  .main_process_3 {
    left: 2050px;
    top: 0px;
  }
  .picture_process_3 {
    width: 100px;
    height: 100vh;
  }
  .main_process_4 {
    left: 2145px;
    top: 75px;
  }
  .picture_process_4 {
    width: 70px;
    height: 80vh;
  }
  .main_process_5 {
    left: 2217px;
    top: 0px;
  }
  .picture_process_5 {
    width: 55px;
    height: 75vh;
  }
  .main_process_6 {
    left: 2825px;
    top: 0px;
  }
  .picture_process_6 {
    width: 500px;
    height: 40vh;
  }
  .main_process_7 {
    left: -100px;
    top: -200px;
  }
  .picture_process_7 {
    width: 800px;
    height: 10vh;
  }
  .main_process_8 {
    left: 3815px;
    top: 0px;
  }
  .picture_process_8 {
    width: 400px;
    height: 90vh;
    border-radius: 100%;
  }
  .main_process_9 {
    top: 0;
    left: 4200px;
  }
  .picture_process_9 {
    width: 25vh;
    height: 25vh;
    border-radius: 100%;
  }
  .main_texte {
    transform: translate(1860px, -230px);
  }
  .main_texte_2 {
    transform: translate(1850px, 115px);
  }
  .texte_2 {
    width: 230px;
    background-color: #eb9696;
  }
  .lettrine_2 {
    top: -10px;
    left: 2px;
  }
  .main_texte_3 {
    bottom: -33vh;
    transform: translateX(2537px);
  }
  .texte_3 {
    width: 500px;
    left: 6px;
    background-color: #eb9696;
    font-size: 1.7rem;
  }
  .lettrine_3 {
    background-color: #eb9696;
    width: 500px;
    font-size: 2rem;
    left: 6px;
  }
  .main_texte_4 {
    top: 195px;
    transform: translateX(3410px);
  }
  .texte_4 {
    width: 340px;
    left: 6px;
    font-size: 1.7rem;
  }
  .lettrine_4 {
    left: 6px;
    width: 340px;
    font-size: 6rem;
    text-shadow: 3px 4px #222120;
    -webkit-text-fill-color: #ebebeb;
    -webkit-text-stroke: 2px #ffcd2b;
    margin-bottom: 1.5rem;
  }
}
@media screen and (min-width: 425px) {
  .txt_portfolio_menu {
    visibility: hidden;
    display: none;
    opacity: 0;
  }
}/*# sourceMappingURL=second_index.css.map */