// root
:root {
  $--font-main: "ApercuProMono";
  font: size 16px $--font-main;

  line-height: 16px;
  font-smooth: auto;
  font-smooth: never;
  font-smooth: always;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  $--color-rescue: #7d8a94;

  box-sizing: border-box;

  overflow: hidden;
  height: -webkit-fill-available;
  scroll-behavior: smooth;

  cursor: none;
}

// text line height
$--line-height-simple: 1rem;
$--line-height-quart: 1.25rem;
$--line-height-double: 2rem;
$--line-height-triple: 3rem;
$--line-height-quad: 4rem;

// fix text word spacing
$--word-spacing: -0.2rem;

// margin
$--margin-0: 0em;
$--margin-half: 0.5rem;
$--margin-simple: 1rem;
$--margin-double: 2rem;
$--margin-triple: 3rem;
$--margin-quad: 4rem;

// padding
$--padding-0: 0rem;
$--padding-half: 0.5rem;
$--padding-34: 0.75rem;

$--padding-simple: 1rem;
$--padding-double: 2rem;
$--padding-triple: 3rem;
$--padding-quad: 4rem;

// main colors
$--color-purple: #5114de;
$--color-pink: #ffe0dc;
$--color-green: #7d938a;
$--color-orange: #f0611e;
$--color-yellow: #edc016;

$--color-etiquette-1: #c6b7b5;
$--color-etiquette-2: #c6b7b5;
$--color-etiquette-3: #c6b7b5;
$--color-etiquette-4: #c6b7b5;
$--color-etiquette-5: #c6b7b5;

$--color-filtre-1: #d83b3b;
$--color-filtre-2: rgba(28, 27, 50, 1);
$--color-filtre-3: rgb(50, 42, 27);
$--color-filtre-4: rgba(0, 0, 0, 0.727);
$--color-filtre-5: rgb(38, 38, 52);

// border-color
$--border-background: #cbcbcb;

// border-radius
$--border-0: 0rem;
$--border-1: 1rem;
$--border-1_5: 1.5rem;
$--border-2: 2rem;
$--border-3: 3rem;

//font
$--font-main: "ApercuProMono";
$--font-menu: "TIMMONS NY 2.0";

$--font-size-1: 1rem;
$--font-size-2: 2rem;
$--font-size-4: 4rem;
$--font-size-8: 8rem;

$--color-background: #dad3ce;

html {
  height: -webkit-fill-available;
}

// body
body {
  background: $--color-background;
  overflow-x: hidden;
  background-attachment: fixed;
  overflow-anchor: [auto];
  height: -webkit-fill-available;
}

@font-face {
  font-family: "ApercuProMono";
  src: url("../../fonts/Apercu_colophon/ApercuProMono.woff2") format("woff2"),
    url("../../fonts/Apercu_colophon/ApercuProMono.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "ApercuProMono";
  src: url("../../fonts/Apercu_colophon/ApercuProMonoB.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "TIMMONS NY 2.0";
  src: url("../../fonts/timmons2.0/TIMMONSNY20-Regular.woff") format("woff"),
    url("../../fonts/timmons2.0/TIMMONSNY20-Regular.woff2") format("woff2");

  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "sf-ui_b";
  src: url("../../fonts/sf-ui/sf-ui_bold.woff") format("woff");

  font-weight: bold;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "ApercuPro";
  src: url("../../fonts/Apercu/ApercuPro-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ApercuPro";
  src: url("../../fonts/Apercu/ApercuPro-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  font-style: bold;
}

.entree {
  display: flex; /*debut loader page*/
  position: fixed;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: black;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 100;
  font-size: 16px;
}

#img_entree {
  height: 40vh;
}

.entree_end {
  animation: disapear 0.325s ease-in forwards;
}

@keyframes disapear {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.embleme {
  z-index: 95;
  justify-content: center;
  place-items: center;
  display: flex;
  position: fixed;
  width: 50%;
  height: 40%;
  overflow: hidden;
}

#insigne {
  box-sizing: border-box;
}

#insigne2 {
  fill: #fffc;
  fill-rule: evenodd;
  stroke-linejoin: round;
  stroke: #666;
  stroke-width: 0.01rem;
  filter: drop-shadow(0 0 1rem #9999);
  justify-content: center;
  place-items: center;
  height: auto;
  width: 2rem;
  display: inline-block;
  position: absolute;
  bottom: 3.3rem;
}

.logotype {
  opacity: 1;
  width: 100%;
  height: 100%;
  z-index: 96;
  border: 0.5rem solid $--color-green;
  justify-content: center;
  place-items: center;
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
}

.typographie {
  font-family: $--font-main;
  animation: opac_typo 0.3s ease forwards;
  margin: 0;
  padding: 0;
  color: $--color-background;
  animation: 0.3s forwards opac_typo;
  display: flex;
  align-items: center;
}

@keyframes opac_typo {
  from {
    color: transparent;
  }
  to {
    color: white;
  }
}

.banniere {
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  z-index: -99;
  position: relative;
}

.picture {
  display: block;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  z-index: -1;
}

.img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  overflow-x: hidden;
  z-index: -1;
}

.svg_line {
  width: 100%;
}

.cursor {
  display: inherit;
}

.ligne {
  position: absolute;
  height: 1px;
  bottom: 100%;
  top: 40px;
  margin-bottom: 0px;
}

.logo {
  position: absolute;
  width: auto;
  top: 22px;
  z-index: 0;
  fill: #ffe0dc;
  fill-rule: evenodd;
  transition: all 0.33s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hide {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}

.is_visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}

.txt_mobile {
  padding: 0px;
  position: sticky;
}

.txt_portfolio {
  margin-left: 30px;
  font-family: "ApercuProMono";
  font-style: normal;
  font-weight: 100;
  color: #ffe0dc;
}

.txt_portfolio_menu {
  position: sticky;
  top: 0px;
  font-family: "ApercuProMono";
  font-style: normal;
  font-weight: 100;
  color: #ffe0dc;
}

#menu {
  cursor: none;
}

a {
  text-decoration: none;
  color: #ffe0dc;
  cursor: none;
}

a:hover {
  text-decoration: none;
  color: #ffe0dc;
}

.sticky_main {
  display: flex;
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0px;
  z-index: 98;
  background-color: rgba(0, 0, 0, 0.05);
  border-bottom: 62px solid rgba(0, 0, 0, 0.05);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.menu_transformation {
  display: flex;
  position: sticky;
  width: 100%;
  height: 60px;
  top: 0px;
}
.sticky_main2 {
  display: flex; /* pour le menu en mode mobile */
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  margin-top: 0px;
  z-index: 97;
  visibility: collapse;
  overflow: hidden;
  transition: opacity 2s linear;
}

.menu_transformation2 {
  display: flex;
  position: sticky;
  width: 100%;
  height: 100vh;
  z-index: 99;
  top: 0px;
}
.sticky_main2 .collapse {
  opacity: 1;
}

.no-padding {
  padding: 0px;
}

.collapse {
  visibility: visible;
  animation: opacity 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-iteration-count: 1;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*partie projets*/

.work {
  width: auto;
  height: auto;
  position: relative;
  top: 0px;
}

.projet {
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: 400px;
  max-height: 500px;
  height: 400px;
}

.projet2 {
  margin-top: 0px; /* reduit la marge des deux derniers projets */
  margin-bottom: 0px;
  min-height: 400px;
  max-height: 500px;
  height: 400px;
}

.txt_left {
  display: -ms-flexbox !important;
  display: flex !important;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding: 10px;
}

.txt_right {
  width: calc(100% - 2rem);
  display: -ms-flexbox !important;
  display: flex !important;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: nowrap;
  padding: 10px;
}

.txt_display {
  display: -ms-flexbox !important;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  opacity: 0;
  transition: opacity 0.8s ease-in;
  line-height: normal;
}

.remove_text {
  display: block;
  opacity: 1;
  transition: opacity 0.33s linear;
} /* permet d'enlever la description des projets */

.illustration {
  height: 10%;
}
.z_index {
  z-index: 0;
}

.display-4 {
  font-family: "ApercuProMono";
  color: #ffe0dc;
}
.display-3 {
  font-family: "ApercuProMono";
  color: #7d938a;
}
.h6 {
  font-family: "ApercuProMono";
  color: #ffe0dc;
}
.h4 {
  font-family: "ApercuProMono";
  color: #7d938a;
}
.h1 {
  font-family: "ApercuProMono";
  color: #7d938a;
}

.arrplan_picture {
  position: absolute;
  object-fit: cover;
  overflow: hidden;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0px;
  bottom: 0px;
}

.arrplan_img {
  position: absolute;
  top: -80px;
  height: 140%;
  width: 100%;
  left: 0px;
  object-fit: cover;
  overflow: hidden;
  z-index: -1;
  margin-left: 15px;
  padding-right: 30px;
}

.arrplan_img2 {
  top: -80px;
  position: absolute;
  height: 140%;
  width: 100%;
  left: 0px;
  object-fit: cover;
  overflow-x: hidden;
  z-index: -1;
  margin-left: 15px;
  padding-right: 30px;
}
/*  taille images ideale larg = 450 h= 560px */

.arrplan_picture2 {
  position: absolute;
  object-fit: cover;
  overflow: hidden;
  z-index: -1;
  width: 100%;
  left: 0px;
  top: 0px;
  height: 400px;
}

.description_projet {
  font-family: "ApercuPro";
  font-style: normal;
  font-weight: normal;
  line-height: 1.5rem;
  color: rgb(194 212 205);
  margin: 9px;
  font-size: 1.4rem;
}

.reseaux_sociaux {
  padding-left: $--padding-34;
}
.icon {
  max-width: 40px;
  max-height: 40px;
  position: relative;
  display: block;
}

.icon_footer {
  fill-rule: evenodd;
  stroke-width: 1;
  stroke: #7d938ae6;
  filter: drop-shadow(0px 0px 1px rgba(200, 200, 200, 0.2));
  fill: #dad3ce;
  width: 100%;
  padding: 5px;
  display: flex;
}

.is_not_displayed {
  display: none;
  opacity: 0;
}

.is_displayed {
  display: block; /* cache ou rend visible les icons en mode mobile */
  opacity: 1;
}

.not_displayed {
  display: flex; /* cache ou rend visible les credits+les icons en mode tablet */
  opacity: 1;
}

.mobile_icons {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.mobile_icons2 {
  flex-direction: row; /* pour les credits+icones en mode tablet */
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100vw;
}

.icon_footer2 {
  fill: #008a710d; /* pour les credits+icones en mode tablet */
  fill-rule: evenodd;
  stroke-width: 1px;
  stroke: #ffe0dc;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 28px;
  height: 22px;
}

.icon_footer_lien {
  max-width: 28px;
  width: auto;
  height: 22px;
}

.ajustement_gauche {
  margin-left: 14px;
  z-index: 99;
  display: inline-flex;
  position: relative;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
} /* pour le decalage des icones + signe(2022) en mode tablet */

.ajustement_droit {
  margin-right: 14px;
  z-index: 99;
}

#mail:hover {
  fill: #ffe0dc;
}
#linkdin:hover {
  fill: #ffe0dc;
}
#instagram:hover {
  fill: #ffe0dc;
}
#facebook:hover {
  fill: #ffe0dc;
}

.txt_icon_credit {
  font-family: "ApercuProMono";
  font-style: normal;
  font-weight: 100;
  color: #ffe0dc;
  align-items: center;
}

.txt_credits {
  font-family: "ApercuProMono";
  font-style: normal;
  font-weight: 100;
  word-spacing: $--word-spacing;
  margin: 0px;
  color: #ebceca;
  font-size: 0.8em;
  text-align: start;
}

.credits {
  flex: 1;
  padding: 0rem 3rem 0rem 1rem;
}

.footer {
  z-index: 95;
  position: relative;
  bottom: 0px;
  opacity: 0;
  padding-top: $--padding-triple;
  padding-bottom: $--padding-double;
  margin-top: $--margin-simple;
  line-height: $--line-height-quart;

  background-color: $--color-green;
  box-shadow: 0px -1px 1px 0px $--color-pink;

  transition: opacity 0.5s ease-in;
}

.scroll-footer {
  opacity: 1;
}

.scroll-description {
  opacity: 1;
}

.scroll-projet {
  opacity: 1;
}

.numeroprojet {
  display: block;
  opacity: 0;
  transform: translateY(100%) rotateX(-89deg);
  transform-origin: center top;
  transform-style: preserve-3d;
  transition-delay: 0.2s;
  transition: opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1),
    transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.title {
  width: 100%;
  height: 100%;
}

.title.is-inview .numeroprojet {
  opacity: 1;
  transform: none;
  transition-delay: 0.3s;
}

.numeroprojet2 {
  display: block;
  opacity: 0;
  transform: translateY(100%) rotateX(-89deg);
  transform-origin: center top;
  transform-style: preserve-3d;
  transition: opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1),
    transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.title.is-inview .numeroprojet2 {
  opacity: 1;
  transform: none;
  transition-delay: 0.4s;
}

.numeroprojet3 {
  display: block;
  opacity: 0;
  transform: translateY(100%) rotateX(-89deg);
  transform-origin: center top;
  transform-style: preserve-3d;
  transition: opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1),
    transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.title.is-inview .numeroprojet3 {
  opacity: 1;
  transform: none;
  transition-delay: 0.6s;
}

.numeroprojet4 {
  display: block;
  opacity: 0;
  transform: translateY(100%) rotateX(-89deg);
  transform-origin: center top;
  transform-style: preserve-3d;
  transition: opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1),
    transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.title.is-inview .numeroprojet4 {
  opacity: 1;
  transform: none;
  transition-delay: 0.7s;
}

article {
  margin-top: 2em;
}

.case {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
}

.case_ajust_right {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-right: 30px;
  margin-left: 10px;
}
.case_ajust_left {
  padding-top: 30px;
  margin-left: 30px;
  margin-right: 10px;
  padding-bottom: 30px;
}

.case1_large {
  width: 100%;
  height: 50%;
  //background-color: rgb(188, 188, 188);
  overflow: hidden;
}
.case2_small {
  width: 30%;
  height: 40%;
  //background-color: rgb(234, 165, 165);
  overflow: hidden;
}
.case3_middle {
  width: 70%;
  height: 40%;
  //background-color: rgb(136, 169, 136);
  overflow: hidden;
}
.case4_large {
  width: 100%;
  height: 10%;
  //background-color: blue;
  overflow: hidden;
}

.case_texte {
  font-family: "ApercuProMono";
  font-weight: normal;
}

.case_texte_1 {
  color: $--color-green;
  word-spacing: -1.5rem;
  vertical-align: top;
  text-align: initial;
  letter-spacing: -0.5rem;
  padding: 1rem;
  font-size: 13.5rem;
  font-weight: normal;
  position: relative;
  top: -6.2rem;
  left: -1.5rem;
  overflow: hidden;
}
.case_texte_2 {
  color: #cec0c0;
  padding: 1rem;
  font-size: 1.3rem;
  line-height: 1.36rem;
  overflow: hidden;
  position: relative;
  top: -0.8rem;
}
.case_texte_3 {
  color: #cec0c0;
  word-spacing: -0.5rem;
  padding: 1rem;
  font-size: 3rem;
  line-height: 2.8rem;
  position: relative;
  top: -1.1rem;
  overflow: hidden;
}
.case_texte_4 {
  color: #9cb5a5;
  word-spacing: -0.1rem;
  padding: 1rem;
  font-size: 1.1rem;
  position: relative;
  top: -0.5rem;
}

.article_style_1 {
  background-color: #d83b3b;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}
.article_style_2 {
  background-color: #1e2037;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.article_style_3 {
  background-color: #473f2a;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}
.article_style_4 {
  background-color: #eb753d;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.article_style_5 {
  background-color: #242431;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}

.loadtransition {
  display: flex; /*debut loader page*/
  position: fixed;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
  z-index: 100;
}

.load2transition {
  animation: disapear2 0.5s ease-in forwards;
}
@keyframes disapear2 {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.bg_gradient_1 {
  background: linear-gradient(
    180deg,
    $--color-filtre-1 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border: 1px solid $--color-etiquette-1;
}

.bg_gradient_2 {
  background: linear-gradient(
    180deg,
    $--color-filtre-2 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border: 1px solid $--color-etiquette-2;
}
.bg_gradient_3 {
  background: linear-gradient(
    180deg,
    $--color-filtre-3 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border: 1px solid $--color-etiquette-3;
}
.bg_gradient_4 {
  background: linear-gradient(
    180deg,
    $--color-filtre-4 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border: 1px solid $--color-etiquette-4;
}
.bg_gradient_5 {
  background: linear-gradient(
    180deg,
    $--color-filtre-5 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border: 1px solid $--color-etiquette-5;
}

// media queries
// only mobile
@media screen and (max-width: 424px) {
  .typographie {
    font-size: 1.1rem;
    letter-spacing: 0.07rem;
    word-spacing: -0.3rem;
  }
  .not_displayed {
    display: none;
    opacity: 0;
  }
  .hide {
    visibility: hidden;
    opacity: 0;
  }
  .main-profil {
    padding: 50px 30px 0px;
    font-size: 0.8em;
    line-height: $--line-height-quart;
  }
  article {
    margin-top: 2em;
  }

  .--article-debut {
    margin-top: $--padding-triple;
  }

  .--article-fin {
    margin-bottom: $--padding-triple;
  }

  .projet {
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 400px;
    max-height: 500px;
    height: 400px;
  }
  .title {
    width: 100%;
    height: 100%;
  }
  a {
    text-decoration: none;
    color: #ffe0dc;
  }
  .numeroprojet {
    display: block;
    transform-origin: center top;
    transform-style: preserve-3d;
    transition: opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1),
      transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  img {
    vertical-align: middle;
    border-style: none;
  }
  .arrplan_img {
    object-fit: cover;
    z-index: -1;
    width: 100%;
    height: 140%;
    position: absolute;
    top: -80px;
    left: 0;
    overflow: hidden;
    margin-left: 0px;
    padding-right: 0px;
  }
  .arrplan_picture {
    object-fit: cover;
    z-index: -1;
    width: calc(100% - 2rem);
    height: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    left: 1rem;
    overflow: hidden;
  }
  .arrplan_img2 {
    object-fit: cover;
    z-index: -1;
    width: 100%;
    height: 140%;
    position: absolute;
    top: -80px;
    left: 0;
    overflow: hidden;
    margin-left: 0px;
    padding-right: 0px;
  }
  .arrplan_picture2 {
    object-fit: cover;
    z-index: -1;
    width: calc(100% - 2rem);
    height: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    left: 1rem;
    overflow: hidden;
  }
  .txt_left {
    flex-flow: column;
    justify-content: flex-end;
    width: calc(100% - 0rem);
    padding: 10px;
    border-radius: 10px;
    position: static;
    display: flex !important;
  }
  .txt_right {
    flex-flow: column;
    justify-content: flex-end;
    width: calc(100% - 0rem);
    padding: 10px;
    border-radius: 10px;
    position: static;
    display: flex !important;
  }
}

// only tablet
@media screen and (min-width: 425px) and (max-width: 767px) {
  .footer {
    padding-top: $--padding-0;
    padding-bottom: $--padding-0;
    margin-top: $--margin-0;
  }

  .logotype {
    border: $--border-1 solid #7d938a;
  }
  .left {
    position: relative;
    left: 5px;
  }
  .right {
    position: relative;
    right: -5px;
  }
  .arrplan_img {
    object-fit: cover;
    z-index: -1;
    width: 100%;
    height: 140%;
    position: absolute;
    top: -80px;
    left: 0;
    overflow: hidden;
    margin-left: 0px;
    padding-right: 0px;
  }
  .arrplan_picture {
    object-fit: cover;
    z-index: -1;
    width: calc(100% - 2rem);
    height: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    left: 1rem;
    overflow: hidden;
  }
  .arrplan_img2 {
    object-fit: cover;
    z-index: -1;
    width: 100%;
    height: 140%;
    position: absolute;
    top: -80px;
    left: 0;
    overflow: hidden;
    margin-left: 0px;
    padding-right: 0px;
  }
  .arrplan_picture2 {
    object-fit: cover;
    z-index: -1;
    width: calc(100% - 2rem);
    height: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    left: 1rem;
    overflow: hidden;
  }
  .txt_left {
    flex-flow: column;
    justify-content: flex-end;
    width: calc(100% - 0rem);
    padding: 10px;
    border-radius: 10px;
    position: static;
    display: flex !important;
  }
  .txt_right {
    flex-flow: column;
    justify-content: flex-end;
    width: calc(100% - 0rem);
    padding: 10px;
    border-radius: 10px;
    position: static;
    display: flex !important;
  }
}

// only for cursor before tablet (768px)
@media screen and (max-width: 768px) {
  .cursor {
    display: none;
  }
}

// only desktop normal
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    padding-top: $--padding-0;
    padding-bottom: $--padding-0;
    margin-top: $--margin-0;
  }
  .left {
    position: relative;
    left: 5px;
  }
  .right {
    position: relative;
    right: -5px;
  }
  .arrplan_img {
    object-fit: cover;
    z-index: -1;
    width: 100%;
    height: 140%;
    position: absolute;
    top: -80px;
    left: 0;
    overflow: hidden;
    margin-left: 0px;
    padding-right: 0px;
  }
  .arrplan_picture {
    object-fit: cover;
    z-index: -1;
    width: calc(100% - 2rem);
    height: 100%;
    position: absolute;
    bottom: 0;

    border-radius: 10px;
    left: 1rem;
    overflow: hidden;
  }
  .arrplan_img2 {
    object-fit: cover;
    z-index: -1;
    width: 100%;
    height: 140%;
    position: absolute;
    top: -80px;
    left: 0;
    overflow: hidden;
    margin-left: 0px;
    padding-right: 0px;
  }
  .arrplan_picture2 {
    object-fit: cover;
    z-index: -1;
    width: calc(100% - 2rem);
    height: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    left: 1rem;
    overflow: hidden;
  }

  .txt_left {
    flex-flow: column;
    justify-content: flex-end;
    width: calc(100% - 0rem);
    padding: 10px;
    border-radius: 10px;
    position: static;
    display: flex !important;
  }
  .txt_right {
    flex-flow: column;
    justify-content: flex-end;
    width: calc(100% - 0rem);
    padding: 10px;
    border-radius: 10px;
    position: static;
    display: flex !important;
  }
  .case_texte_1 {
    word-spacing: -1.5rem;
    letter-spacing: -0.5rem;
    font-size: 14.5rem;
    top: -6.6rem;
    left: -1.5rem;
  }
  .case_texte_2 {
    padding: 1rem;
    font-size: 1.3rem;
    line-height: 1.36rem;
    top: -0.8rem;
  }
  .case_texte_3 {
    word-spacing: -0.5rem;
    padding: 1rem;
    font-size: 3rem;
    line-height: 2.8rem;
    top: -1rem;
  }
  .case_texte_4 {
    word-spacing: -0.1rem;
    padding: 1rem;
    font-size: 1.1rem;
    line-height: 2rem;
    top: -1rem;
  }
}

// only desktop xl
@media screen and (min-width: 1024px) and (max-width: 2559px) {
  .footer {
    padding-top: $--padding-0;
    padding-bottom: $--padding-0;
    margin-top: $--margin-0;
  }
}

// since desktop
@media screen and (min-width: 1024px) and (max-width: 3840px) {
  .typographie {
    font-size: 1.5rem;
  }
  .logotype {
    border: $--border-1_5 solid #7d938a;
  }

  .txt_left {
    flex-flow: column;
    justify-content: flex-end;
    width: calc(100% - 0rem);
    padding: 10px;
    border-radius: 10px;
    position: static;
    display: flex !important;
  }
  .txt_right {
    flex-flow: column;
    justify-content: flex-end;
    width: calc(100% - 0rem);
    padding: 10px;
    border-radius: 10px;
    position: static;
    display: flex !important;
  }
  .arrplan_img {
    object-fit: cover;
    z-index: -1;
    width: 100%;
    height: 140%;
    position: absolute;
    top: -80px;
    left: 0;
    overflow: hidden;
    margin-left: 0px;
    padding-right: 0px;
  }
  .arrplan_picture {
    object-fit: cover;
    z-index: -1;
    width: calc(100% - 2rem);
    height: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    left: 1rem;
    overflow: hidden;
  }
  .arrplan_img2 {
    object-fit: cover;
    z-index: -1;
    width: 100%;
    height: 140%;
    position: absolute;
    top: -80px;
    left: 0;
    overflow: hidden;
    margin-left: 0px;
    padding-right: 0px;
  }
  .arrplan_picture2 {
    object-fit: cover;
    z-index: -1;
    width: calc(100% - 2rem);
    height: 100%;
    position: absolute;
    bottom: 0;

    border-radius: 10px;
    left: 1rem;
    overflow: hidden;
  }

  .left {
    position: relative;
    left: 35px;
  }
  .right {
    position: relative;
    right: -35px;
  }
}

// only desktop 4K
@media screen and (min-width: 2560px) and (max-width: 3840px) {
  .footer {
    padding-top: $--padding-0;
    padding-bottom: $--padding-0;
    margin-top: $--margin-0;
  }
}

// mobile + tablet for on/off the displaying
@media screen and (max-width: 767px) {
  .remove_text {
    display: none;
    opacity: 0;
  }
}
// tablet + desktop for on/off the displaying
@media screen and (min-width: 425px) {
  .is_displayed {
    display: none;
    opacity: 0;
  }
  .is_visible {
    visibility: hidden;
    opacity: 0;
  }
  .--article-fin-td {
    margin-bottom: $--margin-triple;
  }
  .txt_display {
    font: size 1.2rem;
  }
}
